{% extends 'Slide/base.html.twig' %}

{% block content %}

    {% if (slide.id != null) %}
        <h4>Slide: {{ slide.name }}</h4>
    {% else %}
        <h4>New slide</h4>
    {% endif %}
    <br>

    {{ form_start(form) }}
    {{ form_errors(form) }}

    {{ form_rest(form) }}

    <br>

    <input type="submit" class="btn btn-success" value="Save" />

    {{ form_end(form) }}

{% endblock content %}
