{% extends 'Slide/base.html.twig' %}

{% set slide = obj %}

{% block content %}

    <h4>Slide: {{ slide.name }}</h4>
    <br>
<h3>"{{ url('slide_get_tile', {'id' : slide.id }) }}"</h3>
    <div id="openseadragon-viewer" style="width: 100%; height: 600px;"></div>
    <script src="{{ asset('components/openseadragon/built-openseadragon/openseadragon/openseadragon.min.js') }}"></script>
    <script type="text/javascript">
        var viewer = OpenSeadragon({
            id: "openseadragon-viewer",
            navigatorSizeRatio: 0.25,
            wrapHorizontal:     true,
            prefixUrl: "{{ asset('components/openseadragon/built-openseadragon/openseadragon/images/') }}",
            //tileSources: "{{  asset('components/openseadragon/built-openseadragon/openseadragon/images/mydz.dzi') }}"
            tileSources: {
                height: 512*256,
                width:  512*256,
                tileSize: 256,
                minLevel: 8,
                getTileUrl: function( level, x, y ){
                    //return "http://localhost:8080/app_dev.php/slide/gettile/23?level=1&x=1&y=1";
                    //return "http://s3.amazonaws.com/com.modestmaps.bluemarble/" + (level-8) + "-r" + y + "-c" + x + ".jpg";
                    //alert("{{ path('slide_get_tile', {'id' : slide.id, 'level' : 1, 'x' : 1, 'y' : 1}) }}");
                    //return "{{ url('slide_get_tile', {'id' : slide.id, 'level' : 1, 'x' : 1, 'y' : 1}) }}";
                    //alert("{{ url('slide_get_tile', {'id' : slide.id }) }}" + "/" + level + "/" + x + "/" + y);
                    return "{{ url('slide_get_tile', {'id' : slide.id }) }}" + "/" + (level - 8) + "/" + x + "/" + y;
                }
    }
        });
    </script>

{% endblock content %}
