{% extends 'Member/base.html.twig' %}

{% block content %}

    <h4>Member: {{ name }}</h4>

    <br>

    <div class="row">
        <div class="col-md-4">
        </div>

        <div class="col-md-8">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.firstName) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.surname) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.birthday) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.streetName) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.streetNumber) }}
                </div>
                <div class="col-md-2">
                    {{ form_row(form.zipCode) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.locality) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    {{ form_row(form.telephoneNumber) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.cellularNumber) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.email) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    {{ form_row(form.school) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    {{ form_row(form.cell) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.color) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.isActive) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.liveYear) }}
                </div>
            </div>

            {{ form_row(form.notes) }}
            {{ form_rest(form) }}

            <br>

            <input type="submit" class="btn btn-success" value="Save" />

            {{ form_end(form) }}
        </div>
    </div>

{% endblock content %}
