{% trans_default_domain "app" %}

<table class="table table-striped table-hover table-bordered knp-table">
    <thead>
    <tr>
        <th title="{{ 'members.pagination.color.title'|trans }}">{{ bs_header(pagination, 'members.pagination.color.label'|trans, 'm.color') }}</th>
        <th title="{{ 'members.pagination.year'|trans }}">{{ bs_header(pagination, 'members.pagination.year'|trans, 'm.liveYear') }}</th>
        <th title="{{ 'members.pagination.name'|trans }}">{{ bs_header(pagination, 'members.pagination.name'|trans, 'm.name') }}</th>
        <th title="{{ 'members.pagination.birthday'|trans }}">{{ bs_header(pagination, 'members.pagination.birthday'|trans, 'm.birthday') }}</th>
        <th title="{{ 'members.pagination.locality'|trans }}">{{ bs_header(pagination, 'members.pagination.locality'|trans, 'm.locality') }}</th>
        <th title="{{ 'members.pagination.cellular'|trans }}">{{ bs_header(pagination, 'members.pagination.cellular'|trans, 'm.cellularNumber') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for p in pagination %}
            <tr>
                <td><i class="fa fa-square color-{{ p.color.name }}"></i></td>
                <td>{{ p.liveYear }}</td>
                <td><a href="{{ path("member_edit", {'id': p.id}) }}">{{ p.surname }} {{ p.firstName }}</a></td>
                <td>{{ p.birthday|date('Y.m.d') }}</td>
                <td>{{ p.locality }}</td>
                <td>{{ p.cellularNumber }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="knp-paginator text-right">
    {{ knp_pagination_render(pagination) }}
</div>