{% trans_default_domain "app" %}

<table class="table table-striped table-hover table-bordered knp-table">
    <thead>
    <tr>
        <th title="Color"><i class="fa fa-sort{% if pagination.isSorted('m.color') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'members.pagination.color'|trans, 'm.color') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.liveYear') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'members.pagination.year'|trans, 'm.liveYear') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.name') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'members.pagination.name'|trans, 'm.name') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.birthday') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'members.pagination.birthday'|trans, 'm.birthday') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.locality') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'members.pagination.locality'|trans, 'm.locality') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.cellularNumber') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'members.pagination.cellular'|trans, 'm.cellularNumber') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for p in pagination %}
            <tr>
                <td><i class="fa fa-square color-{{ p.color.name }}"></i></td>
                <td>{{ p.liveYear }}</td>
                <td><a href="{{ path("member_edit", {'id': p.id}) }}">{{ p.surname }} {{ p.firstName }}</a></td>
                <td>{{ p.birthday|date('Y.m.d') }}</td>
                <td>{{ p.locality }}</td>
                <td>{{ p.cellularNumber }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="knp-paginator text-right">
    {{ knp_pagination_render(pagination) }}
</div>