<table class="table table-striped table-hover table-bordered knp-table">
    <thead>
    <tr>
        <th title="Color"><i class="fa fa-sort{% if pagination.isSorted('m.color') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'C', 'm.color') }}</th>
        <th title="Is active"><i class="fa fa-sort{% if pagination.isSorted('m.isActive') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'A', 'm.isActive') }}</th>
        <th title="Role"><i class="fa fa-sort{% if pagination.isSorted('m.role') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'R', 'm.role') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.name') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Name', 'm.name') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.cell') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Cell', 'm.cell') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.birthday') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Birthday', 'm.birthday') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.locality') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Locality', 'm.locality') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('m.cellularNumber') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Cellular', 'm.cellularNumber') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for p in pagination %}
            <tr>
                <td><i class="fa fa-square color-{{ p.color.name }}"></i></td>
                <td><i class="fa fa-circle color-{{ p.isActive ? 'green' : 'red' }}"></i></td>
                <td title="{{ p.role.name }}"><i class="fa fa-{{ p.role.name == 'ragazzo' ? 'child' : 'user-secret'}}"</td>
                <td><a href="{{ path("member_edit", {'id': p.id}) }}">{{ p.surname }} {{ p.firstName }}</a></td>
                <td>{{ p.cell.name }}</td>
                <td>{{ p.birthday|date('Y.m.d') }}</td>
                <td>{{ p.locality }}</td>
                <td>{{ p.cellularNumber }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="knp-paginator text-right">
    {{ knp_pagination_render(pagination) }}
</div>