<table class="table table-striped table-hover table-bordered knp-table">
    <thead>
    <tr>
        <th class="unclickable"></th>
        <th title="{{ 'Name' }}">{{ bs_header(pagination, 'Name', 'e.name') }}</th>
        <th title="{{ 'Description' }}">{{ bs_header(pagination, 'Description', 'e.description') }}</th>
        <th title="{{ 'Date From' }}">{{ bs_header(pagination, 'Date From', 'e.dateFrom') }}</th>
        <th title="{{ 'Date To' }}">{{ bs_header(pagination, 'Date To', 'e.dateTo') }}</th>
        <th title="{{ 'Expected' }}">{{ bs_header(pagination, 'Expected', 'e.expected') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for e in pagination %}
            <tr>
                <td>
                    <a href="{{ path("event_edit", {'id': e.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
                <td>{{ e.name }}</td>
                <td>{{ e.description }}</td>
                <td>{{ e.dateFrom|date('d.m.Y') }}</td>
                <td>{{ e.dateTo|date('d.m.Y') }}</td>
                <td>{{ e.expected }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="knp-paginator text-right">
    {{ knp_pagination_render(pagination) }}
</div>
