<table class="table table-striped table-hover table-bordered knp-table">
    <thead>
    <tr>
        <th class="unclickable"></th>
        <th><i class="fa fa-sort{% if pagination.isSorted('c.name') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Name', 'c.name') }}</th>
        <th><i class="fa fa-sort{% if pagination.isSorted('c.notes') %}{{ pagination.direction == 'desc' ? '-desc' : '-asc' }}{% endif %}"></i> {{ knp_pagination_sortable(pagination, 'Notes', 'c.notes') }}</th>
    </tr>
    </thead>
    <tbody>
        {% for c in pagination %}
            <tr>
                <td>
                    <a href="{{ path("admin_cell_edit", {'id': c.id}) }}" class="btn btn-warning btn-sm"><i class="fa fa-pencil"></i></a>
                </td>
                <td>{{ c.name }}</td>
                <td>{{ c.notes }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<div class="knp-paginator text-right">
    {{ knp_pagination_render(pagination) }}
</div>
